<a href="https://colab.research.google.com/github/Summertree-8/machine_learning/blob/main/ML_Supervised_learning_recursion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd #organize deta 
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from sklearn.datasets import load_boston

In [ ]:
dataset = load_boston()

In [ ]:
x, t = dataset.data, dataset.target
columns = dataset.feature_names

In [ ]:
type(x), x.shape

(numpy.ndarray, (506, 13))

In [ ]:
type(t), t.shape

(numpy.ndarray, (506,))

In [ ]:
df = pd.DataFrame(x, columns = columns)
df.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [ ]:
df['Target'] = t
df.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  Target
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98    24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14    21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03    34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94    33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33    36.2

[5 rows x 14 columns]

In [ ]:
df['Target']

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: Target, Length: 506, dtype: float64

In [ ]:
t = df['Target'].values #target

In [ ]:
x = df.drop(labels = ['Target'], axis = 1).values #input datas

In [ ]:
#学習用　#テスト用

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test,t_train,t_test = train_test_split(x,t,test_size = 0.3, random_state = 0) #random but keep same for test??

In [ ]:
len(x_train)

354